@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  
  background-color: #f9484a;
  background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  width: 90%;
  .headding {
      display: flex;
      flex-direction: column;
      justify-content: center;
    //   align-items: center;
    h1 {
      font-size: 3rem;

      // color: rgb(58, 43, 146);
      color: #004e92;
    }
    h2 {
      font-size: 2.5rem;
      color: rgb(255, 42, 173);
    }
    a button {
      background: linear-gradient(90deg, #000428, #004e92);
      color: white;
      font-size: 1.4rem;
      font-weight: bold;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
      margin: 0px 10px;
      border: 2px solid rgb(0, 0, 0);
    }
    a button:hover {
      color: white;
      background: linear-gradient(90deg, #004e92, #000428);
      border: 2px solid rgb(0, 0, 0);
    }
  }
}
.download {
  display: flex;
  a:nth-child(1) {
    margin: 17px;
    img {
      width: 112px;
      border-radius: 5px;
    }
  }
  a:nth-child(2) {
    margin: 17px 10px;
    img {
      width: 100px;
      border-radius: 5px;
    }
  }
}
.top-image {
  width: 50%;
}

.container-btn {
//   position: relative;
    position: relative;
    top: -50px;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: rgb(0, 0, 0);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
.section-2 {
    position: static;
  width: 85%;
  margin: auto;
  h1 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .offers {
    display: grid;
    margin: 15px;
    grid-template-columns: 1fr 1fr;
    .offer {
      border-radius: 3px;
      margin: 15px auto;
      max-width: 400px;
      background: rgb(255, 255, 255);
      box-shadow: 1px 1px 2px black;
      img {
        width: 350px;
      }
      .offer-text {
        margin: 15px;
        p:nth-child(1) {
          font-size: 2.1rem;
        }
        p:nth-child(2) {
          font-size: 1.8rem;
        }
      }
    }
  }
}
.section-3 {
  width: 85%;
  margin: auto;
  #topPartnersDiv {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .partner-title {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    padding: 90px;
    border-radius: 60%;
    background: rgb(255, 178, 35);
  }
  .partner-container {
    background: rgb(255, 255, 255);
    box-shadow: 1px 2px 2px;
    margin: 10px;
    width: 450px;

    .partner {
      display: flex;
      flex-direction: row;

      align-items: center;
      img {
        width: 300px;
        margin-right: 10px;
      }
      .partner-text {
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}
.section-4 {
  // height: 80vh;
  
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  .titleLabel {
      margin-top: 50px;
    font-size: 2.8rem;
    color: rgb(0, 0, 54);
    margin: 20px 0px;
  }
  .infoLabel {
    font-size: 1.8rem;
    color: rgb(0, 38, 109);
    margin: 20px 0px;
  }
}

@media only screen and (max-width: 830px) {
  .section-2 {
    .offers {
      .offer {
        img {
          width: 270px;
        }
      }
    }
  }
  .section-3 {
    .partner-title {
      font-size: 1.6rem;
      padding: 30px;
      justify-content: center;
      align-items: center;
    }
  }
}
@media only screen and (max-width: 688px) {
  .section-2 {
    .offers {
      display: flex;
      flex-direction: column;
    }
  }
  .section-3 {
    #topPartnersDiv {
      flex-direction: column;
    }
  }
  .section-1{
      .top-menu{
          flex-direction: column-reverse;
      }
      .headding{
        align-items: center;
          h2{
            
              text-align: center;
          }
      }
  }
}
@media only screen and (max-width: 500px) {
    .section-3{
  .partner-container {
    width: 100%;

    .partner {
      flex-direction: column;
      img {
          width: 100%;
        margin-right: 0px;
      
      }
    }
  }
}
}
