.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 11;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    label{
        font-size: 1.4rem;
    }
}

/* The Close Button */

.closeIt {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.closeIt:hover,
.closeIt:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Calendar style */

.dateContainer {
    z-index: 13;
}

.dateContainer>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    // height: 100vh;
    background-color: #12121f;
    color: #eee;
    display: flex;

    justify-content: center;
    align-items: center;
}
.table{
    overflow: auto;
    white-space: nowrap;

}

@media only screen and (max-width:900px){
    .container{
        flex-direction: column;
    }
}

.top-btn{
    margin-top: 30px;
    font-weight: 500;
    background: rgb(0, 102, 255);
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.6rem;
    padding: 5px 10px;
    border-radius: 4px;
}



.closeCalendar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    bottom: auto;
    top: 0;
    margin-top: 10rem;
    /*width:100%;*/
    /*height:166px;*/
}

.closeCalendar:hover,
.closeCalendar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.calendar {
    width: 40rem;
    height: 52rem;
    background-color: #222227;
}

.month {
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    // padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.4rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #167e56;
}

.eventMenu {
    // width: 45rem;
    height: 52rem;
    background-color: #222227;
    // box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.eventHeader {
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.eventHeader h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 8rem;
    display: block;
}

.eventHeader p {
    font-size: 1.6rem;
    text-align: left;
    margin-top: 5rem;
    margin-right: 5rem;
    position: relative;
    left: -15rem;
}

.eventSlots {
    width: 100%;
    overflow: auto;
    height: 40rem;
}

// .eventSlots div:hover:not(.blocked, .noEvents) {
//     background-color: #262626;
//     // border: 0.1rem solid #777;
//     // cursor: pointer;
// }

.eventSlots div {
    height: 30rem;
    // border: 0.06rem solid #777;
}

.slot label {
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.approved {
    color: yellow;
}

.pending {
    color: red;
}

.detailLabel {
    font-weight: 700;
}

.done {
    color: green;
}

.reserved {
    background-color: blue;
}

.noEvents {
    display: block;
    height: 40rem;
    width: 98%;
}

.noEvents label {
    display: block;
    width: 100%;
    overflow: none;
    align-items: center;
    // vertical-align: middle;
    text-align: center;
    line-height: 30rem;
    font-size: 2rem;
    font-weight: 700;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 2px solid #000000;
    text-align: left;
    font-size: 1.4rem;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.tableDiv {
    margin-top: 5em;
}

.tableDiv label:not(.pendingAction) {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.pendingAction {
    background: transparent;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(0, 1, 41);
    cursor: pointer;
    border: none;
    display: inline;
}

#main {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 8;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

#overlay {
    position: absolute;
    background: rgba(0, 0, 0, .3);
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    
}

#popup {
    
    border-radius: 8px;
    font-size: 1.4rem;
    text-align: center;
    box-sizing: border-box;
    
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    z-index: 12;
    vertical-align: center;
}
.yesBtn{
    background-color: rgb(0, 132, 255);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
}

#popup h3 {
    margin: 20px 0 0 0;
    padding: 0;
}

#popup p {
    margin: 15px;
    padding: 0;
}

#popup .button-holder a {
    color: #007AFF;
    text-decoration: none;
    line-height: 45px;
    font-weight: bold;
    display: block;
    border-top: 1px solid #BABABA;
}

.button-holder a:hover {
    cursor: pointer;
}

#popup .two-button a {
    width: 50%;
    float: left;
    box-sizing: border-box
}

#popup .two-button a:first-child {
    border-right: 1px solid #BABABA
}